{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if post.meta('keywords') %}
    <meta name="keywords" content="{{ post.meta('keywords')|e }}">
    {% endif %}
    {% if post.description() %}
    <meta name="description" itemprop="description" content="{{ post.description() }}">
    {% endif %}
    <meta name="author" content="{{ post.author() }}">
    {% if post.prev_post %}
        <link rel="prev" href="{{ post.prev_post.permalink() }}" title="{{ post.prev_post.title()|e }}" type="text/html">
    {% endif %}
    {% if post.next_post %}
        <link rel="next" href="{{ post.next_post.permalink() }}" title="{{ post.next_post.title()|e }}" type="text/html">
    {% endif %}
    {% if post.is_draft %}
        <meta name="robots" content="noindex">
    {% endif %}
    {{ helper.open_graph_metadata(post) }}
    {{ helper.twitter_card_information(post) }}
    {{ helper.meta_translations(post) }}
{% endblock %}

{% block content %}
<article class="post-{{ post.meta('type') }} h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">
    {{ pheader.html_post_header() }}
    <div class="e-content entry-content" itemprop="articleBody text">
    {{ post.text() }}
    </div>
    <aside class="postpromonav">
    <nav>
    {{ helper.html_tags(post) }}
    {{ helper.html_pager(post) }}
    </nav>
    </aside>
</article>
{% endblock %}

{% block sourcelink %}
{% if show_sourcelink %}
    <a class="btn btn-fab btn-raised btn-material-indigo" target="_blank" href="{{ post.source_link() }}" title="{{ messages("Source") }}">
        <i class="mdi-file-cloud-download"></i>
    </a>

{% endif %}

{% endblock %}

{% block extra_js %}
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  owner: 'stephen0921',
  repo: 'blogcomments',
  oauth: {
    client_id: '023e6b0f82c8769a884b',
    client_secret: '7627cf219ccd3c1eabf6071ca10ff03da3a6df93',
  },
})
gitment.render('container')
</script>
{% endblock %}